<link rel="import" href="<%= asset_path("video-metadata-input.html") %>">
<link rel="import" href="<%= asset_path("video-row.html") %>">
<link rel="import" href="<%= asset_path("video-table.html") %>">
<link rel="import" href="<%= asset_path("video-form.html") %>">
<link rel="import" href="<%= asset_path("library-refresh.html") %>">

<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<div id="videos">
  <input type="text" v-model="query" debounce="500" />
  <library-refresh></library-refresh>
  <video-table :query="query" v-ref:table></video-table>
</div>

<br>

<script>
  new Vue({
    el: "#videos",
    data: {
      query: ""
    },
    events: {
      refreshed: function() {
        this.$refs.table.refresh();
      }
    }
  });
</script>
