<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @video.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @video.file_hash %>
</p>

<% VideoHelper.get_configured_metadata.each do |metadata| %>
    <p>
      <strong><%= metadata.name %>:</strong>
      <%= @video[metadata.name] %>
    </p>
<% end %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
