<% title @video.name %>
<% if notice %>
    <div class="message is-small">
        <div class="message-body">
            <%= notice %>
        </div>
    </div>
<% end %>
<div class="columns">
    <div class="column is-4">
        <div class="image">
            <div class="image-overlay">
                <%= image_tag video_thumbnail_path(@video.selected_thumbnail_path) %>
                <div class="image-overlay-content">
                    <div class="video-play">
                        <%= link_to watch_video_path(@video, playlist: @playlist) do %>
                        <span class="icon">
                            <i class="fa fa-play fa-3x"></i>
                        </span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column columns is-8 is-multiline">
        <div class="column is-full">
          <%= link_to 'Edit', edit_video_path(@video), class: 'button is-primary is-fullwidth' %>
        </div>
        <div class="is-full column">
            <table class="table is-fullwidth">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><%= @video.name %></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><%= @video.location %></td>
                    </tr>
                    <tr>
                        <td>Hash</td>
                        <td><%= @video.file_hash %></td>
                    </tr>
                    <% MetadataHelper.get_configured_metadata.each do |metadata| %>
                        <tr>
                            <td><%= metadata.name %></td>
                            <td>
                                <%= render_metadata(metadata, @video[metadata.name]) %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>



