<div class="header">
    <nav class="level has-shadow">
        <p class="level-item has-text-centered <%= if current_page?(home_path) then 'is-active' end %>">
            <a class="link title" href="<%= home_path %>">Vima</a>
        </p>
        <p class="level-item has-text-centered <%= if current_controller?('playlists') then 'is-active' end %>">
            <a class="link" href="<%= playlists_path %>">Playlists</a>
        </p>
        <p class="level-item has-text-centered <%= if current_controller?('smart_playlists') then 'is-active' end %>">
            <a class="link" href="<%= smart_playlists_path %>">Smart Playlists</a>
        </p>
        <p class="level-item has-text-centered <%= if current_controller?('videos') then 'is-active' end %>">
            <a class="link" href="<%= videos_path %>">Library</a>
        </p>
        <div class="level-item">
            <form action="<%= videos_path %>">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" name="search" placeholder="Find a video">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="level-item <%= if current_controller?('settings') then 'is-active' end %>">
            <a class="link" href="<%= settings_path %>">Settings</a>
        </p>
    </nav>
    <div class="empty"></div> <!-- this is so we get margin from the level element -->
</div>
