<div class="columns">
    <% video_player_data = {'video-id' => video._id.to_s, 'next-video-path' => next_video_path, 'last-watch-progress' => video[:last_watch_progress]} %>
    <%= video_tag video_stream_path(video._id), controls: true, autoplay: true, autobuffer: true, class: 'video-player column', :data => video_player_data %>
    <% if playlist %>
        <div class="column is-3 playlist-video-list">
            <% playlist_query = playlist.as_playlist_param %>
            <% playlist.ordered_videos.each do |playlist_video| %>
                <div class="playlist-video-item">
                    <%= link_to watch_video_path(playlist_video, playlist_query) do %>
                        <% background_style = if video._id == playlist_video._id then 'background' else 'background-dark' end %>
                        <div class="columns <%= background_style %>">
                            <%= image_tag thumbnail_path(playlist_video), class: 'column is-half', style: 'height: 100%' %>
                            <div class="column is-half">
                                <p class="force-wrap"><%= playlist_video.name %></p>
                                <hr>
                                <% PlaylistsHelper.get_metadata_display_in_playlist.each do |metadata| %>
                                    <p>
                                        <%= metadata.name %>:
                                        <% if metadata.type == "taglist" %>
                                            <%= playlist_video[metadata.name].join(", ") %>
                                        <% elsif metadata.type == "duration" %>
                                            <%= render 'shared/metadata/duration', time: playlist_video[metadata.name] %>
                                        <% else %>
                                            <%= playlist_video[metadata.name] %>
                                        <% end %>
                                    </p>
                                <% end %>
                            </div>

                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
<script>
    $('.video-player').on('ended', event => {
        const elem = $(event.target);
        sendEvent(elem.data('video-id'), 'video_finish', () => {
            const nextVideo = elem.data('next-video-path');
            if(nextVideo != null && nextVideo.length > 0) {
                window.location.pathname = nextVideo;
            }
        });
    });

    $('.video-player').on('canplay', event => {
        const elem = $(event.target);
        try {
            const seekTime = parseInt(elem.data('last-watch-progress'));
            elem.removeData('last-watch-progress');
            elem.removeAttr('data-last-watch-progress');
            if(seekTime > 0) {
                console.log(`Set seek time to ${seekTime}`);
                event.target.currentTime = seekTime;
            }
        } catch (e) {
        }
    });

    $('.video-player').on('timeupdate', debounce(event => {
        if(!event.target.ended) {
            const elem = $(event.target);
            sendEvent(elem.data('video-id'), 'watch_progress', { current_time: Math.round(event.target.currentTime) });
        }
    }, 1000));

    $('.video-player').on('loadstart', event => {
        const elem = $(event.target);
        sendEvent(elem.data('video-id'), 'video_start');
    });
</script>
