<% cache_if playlist_params.empty?, video do %>
    <div class="column video-column is-4-mobile is-3-fullhd is-one-fifth-uhd is-2-uwhd">
        <div class="card video-card" data-video-id="<%= video._id.to_s %>">
            <div class="card-image">
                <div class="image-overlay">
                    <figure class="image is-16by9">
                        <%= image_tag image_path('placeholder.png'), alt: video.name, class: 'lazy', data: { src: video_thumbnail_path(video.selected_thumbnail_path) } %>
                    </figure>
                    <div class="image-overlay-content">
                        <div class="video-edit">
                            <a href="<%= edit_video_path(video) %>">
                                <span class="icon">
                                    <i class="fa fa-pencil fa-6"></i>
                                </span>
                            </a>
                        </div>
                        <div class="video-play">
                            <%= link_to watch_video_path(video, playlist_params) do %>
                                <span class="icon">
                                    <i class="fa fa-play fa-3x"></i>
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="card-header-title">
                    <%= link_to video.name, video, class: "force-wrap" %>
                </div>
            </div>
            <div class="card-content">
                <table class="table">
                    <% MetadataHelper.get_configured_metadata.each do |metadata| %>
                        <% name = metadata.name %>
                        <tr class="metadata-display-<%= name %>">
                            <td><%= name %></td>
                            <td>
                                <% if metadata.type == "taglist" %>
                                    <%= render 'shared/metadata/taglist', tags: video[name] %>
                                <% elsif metadata.type == "duration" %>
                                    <%= render 'shared/metadata/duration', time: video[name] %>
                                <% else %>
                                    <%= video[name] %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
<% end %>
