<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) + " - " : "" %>Vima
    </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_include_tag 'application' %>
    <div id="page">
      <%= render 'shared/heading' %>
      <div class="container is-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
